body{
  background-image: url("nền3.png/nền.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
 
}
h1{
  text-align: center;
  font-size: 70px ;
  font-family: 'Times New Roman', Times, serif;
}
#ảnh1{
  transform:translateX(40px )
}
#ảnh2{
 position:relative;
 top:240px;
  left:1200px;

}
#ảnh3{
  position:relative;
  top:420px;
 
   

}
#ảnh4{
  position:relative ;
  top:600px;
  left:1200px;
}

#video{
  position:relative;
  top:700px;
}



